target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Local ###
local/*
!local/Taskfile.yaml
!local/composefile.yaml
!local/_tools
!local/mnt/init/*
!local/mnt/release-tracker/.gitkeep
!local/mnt/secret/db_jdbc_password.txt

### Other ###
.idea/git_toolbox_*
.idea/uiDesigner.xml
